apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ sample_app_name }}
  namespace: {{ sample_app_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ sample_app_name }}
  template:
    metadata:
      labels:
        app: {{ sample_app_name }}
    spec:
      volumes:
      - name: content
        configMap:
          name: {{ sample_app_name }}-content
      containers:
      - name: {{ sample_app_name }}
        image: {{ sample_app_image }}
        command: ["python3", "-m", "http.server", "80"]
        workingDir: /usr/share/{{ sample_app_name }}
        volumeMounts:
        - name: content
          mountPath: /usr/share/{{ sample_app_name }}
        ports:
        - containerPort: 80
