apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cunofs-csi-node
  namespace: {{ cunofs_namespace }}
spec:
  selector:
    matchLabels:
      app: cunofs-csi-node
  template:
    metadata:
      labels:
        app: cunofs-csi-node
      spec:
        containers:
          - name: csi-node
            image: {{ cunofs_node_image }}
            env:
              - name: NODE_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
            args:
              - "--node=$(NODE_NAME)"
