---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cunofs-csi-controller
  namespace: {{ cunofs_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cunofs-csi-controller
  template:
    metadata:
      labels:
        app: cunofs-csi-controller
    spec:
      containers:
        - name: csi-controller
          image: {{ cunofs_controller_image }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CUNOFS_LICENSE
              valueFrom:
                secretKeyRef:
                  name: cunofs-license
                  key: license
          args:
            - "--node=$(NODE_NAME)"
